<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aotain.baobiao.mapper.test.UserMapper">
  <resultMap id="BaseResultMap" type="com.aotain.baobiao.model.test.User">
    <result column="USER_GROUP_ID" jdbcType="DECIMAL" property="userGroupId" />
    <result column="USER_GROUP_NAME" jdbcType="VARCHAR" property="userGroupName" />
    <result column="USER_GROUP_DESC" jdbcType="VARCHAR" property="userGroupDesc" />
    <result column="USER_GROUP_TYPE" jdbcType="DECIMAL" property="userGroupType" />
    <result column="TOTAL_USER_NUM" jdbcType="DECIMAL" property="totalUserNum" />
    <result column="GROUP_USER_NUM" jdbcType="DECIMAL" property="groupUserNum" />
    <result column="ERROR_USER_NUM" jdbcType="DECIMAL" property="errorUserNum" />
    <result column="LOGFILE_PATH" jdbcType="VARCHAR" property="logfilePath" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="CREATE_OPER" jdbcType="VARCHAR" property="createOper" />
    <result column="MODIFY_OPER" jdbcType="VARCHAR" property="modifyOper" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="USER_GROUP_MARK" jdbcType="DECIMAL" property="userGroupMark" />
    <result column="MESSAGE_NO" jdbcType="DECIMAL" property="messageNo" />
    <result column="USER_GROUP_MOLD" jdbcType="DECIMAL" property="userGroupMold" />
    <result column="AREA_CODE" jdbcType="DECIMAL" property="areaCode" />
    <result column="HOUSE_IDSTR" jdbcType="VARCHAR" property="houseIdstr" />
    <result column="OPERATE_TYPE" jdbcType="TINYINT" property="operateType" />
  </resultMap>
  <insert id="insert" parameterType="com.aotain.baobiao.model.test.User">
    insert into zf_v2_usergroup (USER_GROUP_ID, USER_GROUP_NAME, USER_GROUP_DESC, 
      USER_GROUP_TYPE, TOTAL_USER_NUM, GROUP_USER_NUM, 
      ERROR_USER_NUM, LOGFILE_PATH, STATUS, 
      CREATE_OPER, MODIFY_OPER, CREATE_TIME, 
      MODIFY_TIME, USER_GROUP_MARK, MESSAGE_NO, 
      USER_GROUP_MOLD, AREA_CODE, HOUSE_IDSTR, 
      OPERATE_TYPE)
    values (#{userGroupId,jdbcType=DECIMAL}, #{userGroupName,jdbcType=VARCHAR}, #{userGroupDesc,jdbcType=VARCHAR}, 
      #{userGroupType,jdbcType=DECIMAL}, #{totalUserNum,jdbcType=DECIMAL}, #{groupUserNum,jdbcType=DECIMAL}, 
      #{errorUserNum,jdbcType=DECIMAL}, #{logfilePath,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, 
      #{createOper,jdbcType=VARCHAR}, #{modifyOper,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{userGroupMark,jdbcType=DECIMAL}, #{messageNo,jdbcType=DECIMAL}, 
      #{userGroupMold,jdbcType=DECIMAL}, #{areaCode,jdbcType=DECIMAL}, #{houseIdstr,jdbcType=VARCHAR}, 
      #{operateType,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.aotain.baobiao.model.test.User">
    insert into zf_v2_usergroup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userGroupId != null">
        USER_GROUP_ID,
      </if>
      <if test="userGroupName != null">
        USER_GROUP_NAME,
      </if>
      <if test="userGroupDesc != null">
        USER_GROUP_DESC,
      </if>
      <if test="userGroupType != null">
        USER_GROUP_TYPE,
      </if>
      <if test="totalUserNum != null">
        TOTAL_USER_NUM,
      </if>
      <if test="groupUserNum != null">
        GROUP_USER_NUM,
      </if>
      <if test="errorUserNum != null">
        ERROR_USER_NUM,
      </if>
      <if test="logfilePath != null">
        LOGFILE_PATH,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createOper != null">
        CREATE_OPER,
      </if>
      <if test="modifyOper != null">
        MODIFY_OPER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="userGroupMark != null">
        USER_GROUP_MARK,
      </if>
      <if test="messageNo != null">
        MESSAGE_NO,
      </if>
      <if test="userGroupMold != null">
        USER_GROUP_MOLD,
      </if>
      <if test="areaCode != null">
        AREA_CODE,
      </if>
      <if test="houseIdstr != null">
        HOUSE_IDSTR,
      </if>
      <if test="operateType != null">
        OPERATE_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userGroupId != null">
        #{userGroupId,jdbcType=DECIMAL},
      </if>
      <if test="userGroupName != null">
        #{userGroupName,jdbcType=VARCHAR},
      </if>
      <if test="userGroupDesc != null">
        #{userGroupDesc,jdbcType=VARCHAR},
      </if>
      <if test="userGroupType != null">
        #{userGroupType,jdbcType=DECIMAL},
      </if>
      <if test="totalUserNum != null">
        #{totalUserNum,jdbcType=DECIMAL},
      </if>
      <if test="groupUserNum != null">
        #{groupUserNum,jdbcType=DECIMAL},
      </if>
      <if test="errorUserNum != null">
        #{errorUserNum,jdbcType=DECIMAL},
      </if>
      <if test="logfilePath != null">
        #{logfilePath,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="createOper != null">
        #{createOper,jdbcType=VARCHAR},
      </if>
      <if test="modifyOper != null">
        #{modifyOper,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userGroupMark != null">
        #{userGroupMark,jdbcType=DECIMAL},
      </if>
      <if test="messageNo != null">
        #{messageNo,jdbcType=DECIMAL},
      </if>
      <if test="userGroupMold != null">
        #{userGroupMold,jdbcType=DECIMAL},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=DECIMAL},
      </if>
      <if test="houseIdstr != null">
        #{houseIdstr,jdbcType=VARCHAR},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  
  <select id="selectOne" resultType="java.lang.String">
    SELECT USER_GROUP_NAME FROM zf_v2_usergroup  LIMIT 1
  </select>
  
  
</mapper>